Repository serverlessworkflow/synapse, pull requests merged in 2024-09, with the labels that each got.

#386 Fix the Operator's RunnerDefinition by making its `Certificates` property optional
  src/core/Synapse.Core/Resources/RunnerDefinition.cs
Labels: priority: high, weight: 1, type: fix

#387 Add a static token security scheme and requirement to Swagger
  src/api/Synapse.Api.Http/Extensions/IServiceCollectionExtensions.cs
Labels: type: enhancement, app: api, priority: low, weight: 2

#389 Updated the WorkflowExecutionContext to publish cloud events after handling each and every workflow and task operations
  src/api/Synapse.Api.Server/appsettings.Development.json
  src/core/Synapse.Core/Annotations/CloudEventAttribute.cs
  src/core/Synapse.Core/Events/Tasks/RetryingTaskEventV1.cs
  src/core/Synapse.Core/Events/Tasks/TaskCancelledEventV1.cs
  src/core/Synapse.Core/Events/Tasks/TaskCompletedEventV1.cs
  src/core/Synapse.Core/Events/Tasks/TaskCreatedEventV1.cs
  src/core/Synapse.Core/Events/Tasks/TaskEndedEventV1.cs
  src/core/Synapse.Core/Events/Tasks/TaskFaultedEventV1.cs
  src/core/Synapse.Core/Events/Tasks/TaskResumedEventV1.cs
  src/core/Synapse.Core/Events/Tasks/TaskSkippedEventV1.cs
  src/core/Synapse.Core/Events/Tasks/TaskStartedEventV1.cs
  src/core/Synapse.Core/Events/Tasks/TaskSuspendedEventV1.cs
  src/core/Synapse.Core/Events/Workflows/WorkflowCancelledEventV1.cs
  src/core/Synapse.Core/Events/Workflows/WorkflowCompletedEventV1.cs
  src/core/Synapse.Core/Events/Workflows/WorkflowCorrelationCompletedEventV1.cs
  src/core/Synapse.Core/Events/Workflows/WorkflowCorrelationStartedEventV1.cs
  src/core/Synapse.Core/Events/Workflows/WorkflowEndedEventV1.cs
  src/core/Synapse.Core/Events/Workflows/WorkflowFaultedEventV1.cs
  src/core/Synapse.Core/Events/Workflows/WorkflowResumedEventV1.cs
  src/core/Synapse.Core/Events/Workflows/WorkflowStartedEventV1.cs
  src/core/Synapse.Core/Events/Workflows/WorkflowSuspendedEventV1.cs
  src/core/Synapse.Core/SynapseDefaults.cs
  src/runner/Synapse.Runner/Configuration/RunnerCloudEventOptions.cs
  src/runner/Synapse.Runner/Configuration/RunnerOptions.cs
  src/runner/Synapse.Runner/Services/WorkflowExecutionContext.cs
Labels: type: enhancement, priority: medium, weight: 5, app: runner

#391 Fix/rename/add environment variables
  deployments/docker-compose/docker-compose.build.yml
  deployments/docker-compose/docker-compose.yml
  src/api/Synapse.Api.Application/Commands/Events/PublishCloudEventCommand.cs
  src/api/Synapse.Api.Application/Configuration/ApiServerCloudEventOptions.cs
  src/api/Synapse.Api.Application/Configuration/ApiServerOptions.cs
  src/api/Synapse.Api.Server/appsettings.Development.json
  src/core/Synapse.Core/SynapseDefaults.cs
Labels: priority: high, weight: 1, type: fix

#392 Update ServerlessWorkflow packages to latest version
  src/api/Synapse.Api.Client.Http/Synapse.Api.Client.Http.csproj
  src/api/Synapse.Api.Http/ResourceController.cs
  src/cli/Synapse.Cli/Synapse.Cli.csproj
  src/core/Synapse.Core.Infrastructure/Synapse.Core.Infrastructure.csproj
  src/core/Synapse.Core/Synapse.Core.csproj
  src/dashboard/Synapse.Dashboard/Services/WorkflowGraphBuilder.cs
  tests/Synapse.IntegrationTests/Synapse.IntegrationTests.csproj
  tests/Synapse.UnitTests/Synapse.UnitTests.csproj
Labels: priority: high, app: api, weight: 1, type: fix

#394 Add a new ICloudEventPublisher service
  src/api/Synapse.Api.Application/Commands/Events/PublishCloudEventCommand.cs
  src/api/Synapse.Api.Application/Extensions/IServiceCollectionExtensions.cs
  src/api/Synapse.Api.Application/Services/CloudEventPublisher.cs
  src/api/Synapse.Api.Application/Services/Interfaces/ICloudEventPublisher.cs
  src/api/Synapse.Api.Application/Services/StaticBearerAuthenticationHandler.cs
  src/api/Synapse.Api.Application/Synapse.Api.Application.csproj
Labels: type: enhancement, app: api, priority: medium, weight: 2

#395 Add secrets support
  .dockerignore
  README.md
  assets/images/architecture-c4-l2.png
  assets/images/preview.gif
  deployments/docker-compose/docker-compose.yml
  src/api/Synapse.Api.Server/Dockerfile
  src/core/Synapse.Core.Infrastructure/Services/OAuth2TokenManager.cs
  src/core/Synapse.Core/Extensions/AuthenticationPolicyDefinitionExtensions.cs
  src/core/Synapse.Core/Resources/DockerRuntimeConfiguration.cs
  src/core/Synapse.Core/Resources/KubernetesRuntimeConfiguration.cs
  src/core/Synapse.Core/Resources/KubernetesRuntimeSecretsConfiguration.cs
  src/core/Synapse.Core/SynapseDefaults.cs
  src/correlator/Synapse.Correlator/Dockerfile
  src/operator/Synapse.Operator/Dockerfile
  src/runner/Synapse.Runner/AuthorizationInfo.cs
  src/runner/Synapse.Runner/Configuration/RunnerOptions.cs
  src/runner/Synapse.Runner/Configuration/RunnerSecretsOptions.cs
  src/runner/Synapse.Runner/Dockerfile
  src/runner/Synapse.Runner/Extensions/HttpClientExtensions.cs
  src/runner/Synapse.Runner/Program.cs
  src/runner/Synapse.Runner/Services/ExternalResourceProvider.cs
  src/runner/Synapse.Runner/Services/Interfaces/IExternalResourceProvider.cs
  src/runner/Synapse.Runner/Services/Interfaces/ISecretsManager.cs
  src/runner/Synapse.Runner/Services/Interfaces/IWorkflowExecutor.cs
  src/runner/Synapse.Runner/Services/SecretsManager.cs
  src/runner/Synapse.Runner/Synapse.Runner.csproj
  src/runtime/Synapse.Runtime.Docker/Services/DockerRuntime.cs
  src/runtime/Synapse.Runtime.Kubernetes/Services/KubernetesRuntime.cs
Labels: type: documentation, type: enhancement, priority: high, weight: 2, app: runner

#398 Fix `WorkflowCompletedEventV1` by adding a new `output` property
  src/api/Synapse.Api.Application/Commands/Resources/CreateResourceCommand.cs
  src/api/Synapse.Api.Application/Commands/Resources/Generic/CreateResourceCommand.cs
  src/core/Synapse.Core.Infrastructure.Containers.Docker/DockerContainerPlatform.cs
  src/core/Synapse.Core.Infrastructure.Containers.Kubernetes/KubernetesContainer.cs
  src/core/Synapse.Core.Infrastructure.Containers.Kubernetes/KubernetesContainerPlatform.cs
  src/core/Synapse.Core/Events/Workflows/WorkflowCompletedEventV1.cs
  src/core/Synapse.Core/Resources/Document.cs
  src/core/Synapse.Core/Resources/NativeRuntimeConfiguration.cs
  src/core/Synapse.Core/Resources/TaskInstance.cs
  src/core/Synapse.Core/Synapse.Core.csproj
  src/core/Synapse.Core/SynapseDefaults.cs
  src/correlator/Synapse.Correlator/Services/CorrelationHandler.cs
  src/runner/Synapse.Runner/Services/Executors/ContainerProcessExecutor.cs
  src/runner/Synapse.Runner/Services/SecretsManager.cs
  src/runner/Synapse.Runner/Services/WorkflowExecutionContext.cs
  src/runtime/Synapse.Runtime.Docker/Services/DockerRuntime.cs
  src/runtime/Synapse.Runtime.Kubernetes/Services/KubernetesRuntime.cs
  src/runtime/Synapse.Runtime.Kubernetes/Services/KubernetesWorkflowProcess.cs
  src/runtime/Synapse.Runtime.Native/Services/NativeRuntime.cs
  tests/Synapse.UnitTests/Cases/Conformance/ConformanceTestsBase.cs
  tests/Synapse.UnitTests/Services/MockWorkflowExecutionContextFactory.cs
Labels: priority: high, runtime: docker, app: api, weight: 2, app: runner, runtime: native, runtime: kubernetes, type: fix

#399 Fix the AuthorizationInfo to resolve referenced authentication policies
  src/core/Synapse.Core/SynapseDefaults.cs
  src/runner/Synapse.Runner/AuthorizationInfo.cs
  src/runner/Synapse.Runner/Extensions/HttpClientExtensions.cs
  src/runner/Synapse.Runner/Services/Executors/ForTaskExecutor.cs
  src/runner/Synapse.Runner/Services/Executors/ForkTaskExecutor.cs
  src/runner/Synapse.Runner/Services/Executors/FunctionCallExecutor.cs
  src/runner/Synapse.Runner/Services/Executors/HttpCallExecutor.cs
  src/runner/Synapse.Runner/Services/Executors/OpenApiCallExecutor.cs
  src/runner/Synapse.Runner/Services/ExternalResourceProvider.cs
  src/runner/Synapse.Runner/Services/TaskExecutor.cs
  src/runner/Synapse.Runner/Services/WorkflowExecutor.cs
Labels: priority: high, weight: 2, app: runner, type: fix

#400 Updated the version suffix for all projects
  src/api/Synapse.Api.Application/Synapse.Api.Application.csproj
  src/api/Synapse.Api.Client.Core/Synapse.Api.Client.Core.csproj
  src/api/Synapse.Api.Client.Http/Synapse.Api.Client.Http.csproj
  src/api/Synapse.Api.Http/Synapse.Api.Http.csproj
  src/api/Synapse.Api.Server/Synapse.Api.Server.csproj
  src/cli/Synapse.Cli/Synapse.Cli.csproj
  src/core/Synapse.Core.Infrastructure.Containers.Docker/Synapse.Core.Infrastructure.Containers.Docker.csproj
  src/core/Synapse.Core.Infrastructure.Containers.Kubernetes/Synapse.Core.Infrastructure.Containers.Kubernetes.csproj
  src/core/Synapse.Core.Infrastructure/Synapse.Core.Infrastructure.csproj
  src/core/Synapse.Core/Synapse.Core.csproj
  src/correlator/Synapse.Correlator/Synapse.Correlator.csproj
  src/operator/Synapse.Operator/Synapse.Operator.csproj
  src/runner/Synapse.Runner/Synapse.Runner.csproj
  src/runtime/Synapse.Runtime.Abstractions/Synapse.Runtime.Abstractions.csproj
  src/runtime/Synapse.Runtime.Docker/Synapse.Runtime.Docker.csproj
  src/runtime/Synapse.Runtime.Kubernetes/Synapse.Runtime.Kubernetes.csproj
  src/runtime/Synapse.Runtime.Native/Synapse.Runtime.Native.csproj
Labels: priority: high, weight: 1, type: fix

#402 Fixed the TaskExecutor to evaluate `export.as` against the task transformed output instead of context data
  src/runner/Synapse.Runner/Services/TaskExecutor.cs
Labels: priority: high, weight: 1, app: runner, type: fix

#403 Fixed the operator to use IOptionsMonitor instead of IOptions to access the OperatorOptions
  src/operator/Synapse.Operator/Program.cs
Labels: priority: high, weight: 1, app: operator, type: fix

#404 Fixed the `OpenApiCallProcessor`to interpolate and evaluate the document endpoint URI
  src/core/Synapse.Core/Synapse.Core.csproj
  src/runner/Synapse.Runner/Services/Executors/OpenApiCallExecutor.cs
Labels: priority: high, weight: 1, app: runner, type: fix

#405 Fixed the way both the `HttpCallProcessor` and `OpenApiCallProcessor` evaluate endpoint URIs
  src/runner/Synapse.Runner/Services/Executors/HttpCallExecutor.cs
  src/runner/Synapse.Runner/Services/Executors/OpenApiCallExecutor.cs
Labels: priority: high, weight: 1, app: runner, type: fix

#407 Fixed the ResourceEditor component's store to properly serialize resources upon initialization
  src/dashboard/Synapse.Dashboard/Components/ResourceEditor/Store.cs
Labels: app: dashboard, priority: medium, weight: 1, type: fix

#412 Implemented the WorkflowProcessExecutor
  src/core/Synapse.Core/WorkflowInstanceStatusPhase.cs
  src/correlator/Synapse.Correlator/Services/CorrelationHandler.cs
  src/runner/Synapse.Runner/Services/Executors/ContainerProcessExecutor.cs
  src/runner/Synapse.Runner/Services/Executors/ExtensionTaskExecutor.cs
  src/runner/Synapse.Runner/Services/Executors/GrpcCallExecutor.cs
  src/runner/Synapse.Runner/Services/Executors/HttpCallExecutor.cs
  src/runner/Synapse.Runner/Services/Executors/SwitchTaskExecutor.cs
  src/runner/Synapse.Runner/Services/Executors/WorkflowProcessExecutor.cs
  src/runner/Synapse.Runner/Services/TaskExecutor.cs
  src/runner/Synapse.Runner/Services/WorkflowExecutionContext.cs
Labels: priority: low, weight: 2, app: runner, type: fix

#411 Rolled back to v1.0.0-alpha
  .github/workflows/ci-pipeline.yml
  src/api/Synapse.Api.Application/Synapse.Api.Application.csproj
  src/api/Synapse.Api.Client.Core/Synapse.Api.Client.Core.csproj
  src/api/Synapse.Api.Client.Http/Synapse.Api.Client.Http.csproj
  src/api/Synapse.Api.Http/Synapse.Api.Http.csproj
  src/api/Synapse.Api.Server/Synapse.Api.Server.csproj
  src/cli/Synapse.Cli/Synapse.Cli.csproj
  src/core/Synapse.Core.Infrastructure.Containers.Docker/Synapse.Core.Infrastructure.Containers.Docker.csproj
  src/core/Synapse.Core.Infrastructure.Containers.Kubernetes/Synapse.Core.Infrastructure.Containers.Kubernetes.csproj
  src/core/Synapse.Core.Infrastructure/Synapse.Core.Infrastructure.csproj
  src/core/Synapse.Core/Synapse.Core.csproj
  src/correlator/Synapse.Correlator/Synapse.Correlator.csproj
  src/operator/Synapse.Operator/Synapse.Operator.csproj
  src/runner/Synapse.Runner/Synapse.Runner.csproj
  src/runtime/Synapse.Runtime.Abstractions/Synapse.Runtime.Abstractions.csproj
  src/runtime/Synapse.Runtime.Docker/Synapse.Runtime.Docker.csproj
  src/runtime/Synapse.Runtime.Kubernetes/Synapse.Runtime.Kubernetes.csproj
  src/runtime/Synapse.Runtime.Native/Synapse.Runtime.Native.csproj
Labels: priority: high, weight: 1, type: fix

#413 Added DSL validation when creating a workflow in the Dashboard
  src/dashboard/Synapse.Dashboard/Components/DocumentDetails/DocumentDetails.razor
  src/dashboard/Synapse.Dashboard/Components/ResourceEditor/ResourceEditor.razor
  src/dashboard/Synapse.Dashboard/Layout/MainLayout.razor.scss
  src/dashboard/Synapse.Dashboard/Pages/Workflows/Create/Store.cs
  src/dashboard/Synapse.Dashboard/Pages/Workflows/Create/View.razor
  src/dashboard/Synapse.Dashboard/Program.cs
  src/dashboard/Synapse.Dashboard/Synapse.Dashboard.csproj
  src/dashboard/Synapse.Dashboard/compilerconfig.json
  src/dashboard/Synapse.Dashboard/wwwroot/css/app.css
  src/dashboard/Synapse.Dashboard/wwwroot/css/app.min.css
  src/dashboard/Synapse.Dashboard/wwwroot/css/app.scss
Labels: type: enhancement, app: dashboard, priority: medium, weight: 1
