Repository serverlessworkflow/synapse, pull requests merged in 2024-10, with the labels that each got.

#420 Publish emitted events on internal bus
  src/api/Synapse.Api.Application/Services/CloudEventPublisher.cs
  src/api/Synapse.Api.Application/Synapse.Api.Application.csproj
  src/api/Synapse.Api.Client.Core/Synapse.Api.Client.Core.csproj
  src/api/Synapse.Api.Client.Http/Synapse.Api.Client.Http.csproj
  src/api/Synapse.Api.Http/Synapse.Api.Http.csproj
  src/api/Synapse.Api.Server/Synapse.Api.Server.csproj
  src/cli/Synapse.Cli/Synapse.Cli.csproj
  src/core/Synapse.Core.Infrastructure.Containers.Docker/Synapse.Core.Infrastructure.Containers.Docker.csproj
  src/core/Synapse.Core.Infrastructure.Containers.Kubernetes/Synapse.Core.Infrastructure.Containers.Kubernetes.csproj
  src/core/Synapse.Core.Infrastructure/Services/DatabaseInitializer.cs
  src/core/Synapse.Core.Infrastructure/Synapse.Core.Infrastructure.csproj
  src/core/Synapse.Core/Synapse.Core.csproj
  src/core/Synapse.Core/SynapseDefaults.cs
  src/correlator/Synapse.Correlator/Configuration/CloudEventConsumptionOptions.cs
  src/correlator/Synapse.Correlator/Configuration/CorrelatorOptions.cs
  src/correlator/Synapse.Correlator/Program.cs
  src/correlator/Synapse.Correlator/Services/RedisCloudEventIngestor.cs
  src/correlator/Synapse.Correlator/Synapse.Correlator.csproj
  src/operator/Synapse.Operator/Synapse.Operator.csproj
  src/runner/Synapse.Runner/Synapse.Runner.csproj
  src/runtime/Synapse.Runtime.Abstractions/Synapse.Runtime.Abstractions.csproj
  src/runtime/Synapse.Runtime.Docker/Synapse.Runtime.Docker.csproj
  src/runtime/Synapse.Runtime.Kubernetes/Synapse.Runtime.Kubernetes.csproj
  src/runtime/Synapse.Runtime.Native/Synapse.Runtime.Native.csproj
Labels: type: enhancement, priority: high, app: api, weight: 3, app: correlator

#423 Fix the DSL version used by newly created workflows
  src/dashboard/Synapse.Dashboard/Pages/Workflows/Create/State.cs
Labels: priority: high, app: dashboard, weight: 1

#424 Updated solution packages to latest version
  src/api/Synapse.Api.Client.Http/Synapse.Api.Client.Http.csproj
  src/api/Synapse.Api.Http/Synapse.Api.Http.csproj
  src/api/Synapse.Api.Server/Synapse.Api.Server.csproj
  src/cli/Synapse.Cli/Synapse.Cli.csproj
  src/core/Synapse.Core.Infrastructure/Synapse.Core.Infrastructure.csproj
  src/core/Synapse.Core/Extensions/TaskDefinitionMapExtensions.cs
  src/core/Synapse.Core/Synapse.Core.csproj
  src/correlator/Synapse.Correlator/Synapse.Correlator.csproj
  src/dashboard/Synapse.Dashboard.StateManagement/Synapse.Dashboard.StateManagement.csproj
  src/dashboard/Synapse.Dashboard/Pages/Workflows/Create/Store.cs
  src/dashboard/Synapse.Dashboard/Pages/Workflows/Details/View.razor
  src/dashboard/Synapse.Dashboard/Synapse.Dashboard.csproj
  src/operator/Synapse.Operator/Synapse.Operator.csproj
  src/runner/Synapse.Runner/Services/Executors/OpenApiCallExecutor.cs
  src/runner/Synapse.Runner/Synapse.Runner.csproj
  tests/Synapse.IntegrationTests/Synapse.IntegrationTests.csproj
  tests/Synapse.UnitTests/Synapse.UnitTests.csproj
Labels: priority: high, weight: 2, type: fix

#426 Fixed the `OAuth2TokenManager` to not validate access token issuer name
  src/api/Synapse.Api.Application/Configuration/AuthenticationPolicyOptions.cs
  src/api/Synapse.Api.Application/Configuration/JwtBearerAuthenticationOptions.cs
  src/api/Synapse.Api.Application/Synapse.Api.Application.csproj
  src/api/Synapse.Api.Client.Core/Synapse.Api.Client.Core.csproj
  src/api/Synapse.Api.Client.Http/Synapse.Api.Client.Http.csproj
  src/api/Synapse.Api.Http/Synapse.Api.Http.csproj
  src/api/Synapse.Api.Server/Program.cs
  src/api/Synapse.Api.Server/Synapse.Api.Server.csproj
  src/cli/Synapse.Cli/Synapse.Cli.csproj
  src/core/Synapse.Core.Infrastructure.Containers.Docker/Synapse.Core.Infrastructure.Containers.Docker.csproj
  src/core/Synapse.Core.Infrastructure.Containers.Kubernetes/Synapse.Core.Infrastructure.Containers.Kubernetes.csproj
  src/core/Synapse.Core.Infrastructure/Synapse.Core.Infrastructure.csproj
  src/core/Synapse.Core/Synapse.Core.csproj
  src/core/Synapse.Core/SynapseDefaults.cs
  src/correlator/Synapse.Correlator/Synapse.Correlator.csproj
  src/operator/Synapse.Operator/Synapse.Operator.csproj
  src/runner/Synapse.Runner/Services/Interfaces/IOAuth2TokenManager.cs
  src/runner/Synapse.Runner/Services/OAuth2TokenManager.cs
  src/runner/Synapse.Runner/Synapse.Runner.csproj
  src/runtime/Synapse.Runtime.Abstractions/Synapse.Runtime.Abstractions.csproj
  src/runtime/Synapse.Runtime.Docker/Synapse.Runtime.Docker.csproj
  src/runtime/Synapse.Runtime.Kubernetes/Synapse.Runtime.Kubernetes.csproj
  src/runtime/Synapse.Runtime.Native/Synapse.Runtime.Native.csproj
Labels: type: bug, priority: high, weight: 1, app: runner

#427 fix(Runner): Fixed the OAuth2TokenManager to not validate the OIDC discovery document endpoints
  src/runner/Synapse.Runner/Services/OAuth2TokenManager.cs
Labels: type: bug, priority: high, weight: 1, app: runner

#428 Fixed the format of all date times by properly converting them to local time
  src/dashboard/Synapse.Dashboard/Components/TaskInstanceDetails/TaskInstanceDetails.razor
  src/dashboard/Synapse.Dashboard/Components/WorkflowInstanceDetails/TaskInstanceRow.razor
  src/dashboard/Synapse.Dashboard/Components/WorkflowInstanceDetails/WorkflowInstanceDetails.razor
  src/dashboard/Synapse.Dashboard/Components/WorkflowInstancesList/WorkflowInstancesList.razor
  src/dashboard/Synapse.Dashboard/Extensions/DateTimeExtensions.cs
  src/dashboard/Synapse.Dashboard/Pages/Correlations/List/View.razor
  src/dashboard/Synapse.Dashboard/Pages/Correlators/List/View.razor
  src/dashboard/Synapse.Dashboard/Pages/Operators/List/View.razor
  src/dashboard/Synapse.Dashboard/Pages/Workflows/List/View.razor
Labels: type: bug, app: dashboard, priority: low, weight: 1

#431 Fixed the `SwitchTaskExecutor` to not throw when multiple cases match, and to select the first matching case, if any
  src/runner/Synapse.Runner/Services/Executors/SwitchTaskExecutor.cs
Labels: priority: high, weight: 1, app: runner, type: fix

#433 Fixed the `WorkflowExecutionContext` to properly set the status of an ended task
  src/runner/Synapse.Runner/Services/WorkflowExecutionContext.cs
Labels: priority: high, weight: 1, app: runner, type: fix

#434 Transformed the `CustomFunction` into a cluster resource
  src/api/Synapse.Api.Application/Synapse.Api.Application.csproj
  src/api/Synapse.Api.Client.Core/Services/ISynapseApiClient.cs
  src/api/Synapse.Api.Client.Core/Synapse.Api.Client.Core.csproj
  src/api/Synapse.Api.Client.Http/Services/SynapseHttpApiClient.cs
  src/api/Synapse.Api.Client.Http/Synapse.Api.Client.Http.csproj
  src/api/Synapse.Api.Http/Controllers/CustomFunctionsController.cs
  src/api/Synapse.Api.Http/Synapse.Api.Http.csproj
  src/api/Synapse.Api.Server/Synapse.Api.Server.csproj
  src/cli/Synapse.Cli/Synapse.Cli.csproj
  src/core/Synapse.Core.Infrastructure.Containers.Docker/Synapse.Core.Infrastructure.Containers.Docker.csproj
  src/core/Synapse.Core.Infrastructure.Containers.Kubernetes/Synapse.Core.Infrastructure.Containers.Kubernetes.csproj
  src/core/Synapse.Core.Infrastructure/Synapse.Core.Infrastructure.csproj
  src/core/Synapse.Core/Resources/CustomFunction.yaml
  src/core/Synapse.Core/Synapse.Core.csproj
  src/correlator/Synapse.Correlator/Synapse.Correlator.csproj
  src/dashboard/Synapse.Dashboard/Components/ResourceManagement/NamespacedResourceManagementComponentStore.cs
  src/dashboard/Synapse.Dashboard/Extensions/DateTimeExtensions.cs
  src/dashboard/Synapse.Dashboard/Pages/Correlators/List/View.razor
  src/dashboard/Synapse.Dashboard/Pages/Functions/Create/State.cs
  src/dashboard/Synapse.Dashboard/Pages/Functions/Create/Store.cs
  src/dashboard/Synapse.Dashboard/Pages/Functions/Create/View.razor
  src/dashboard/Synapse.Dashboard/Pages/Functions/List/State.cs
  src/dashboard/Synapse.Dashboard/Pages/Functions/List/Store.cs
  src/dashboard/Synapse.Dashboard/Pages/Functions/List/View.razor
  src/operator/Synapse.Operator/Synapse.Operator.csproj
  src/runner/Synapse.Runner/Services/Executors/FunctionCallExecutor.cs
  src/runner/Synapse.Runner/Services/Interfaces/IWorkflowExecutionContext.cs
  src/runner/Synapse.Runner/Services/WorkflowExecutionContext.cs
  src/runner/Synapse.Runner/Synapse.Runner.csproj
  src/runtime/Synapse.Runtime.Abstractions/Synapse.Runtime.Abstractions.csproj
  src/runtime/Synapse.Runtime.Docker/Synapse.Runtime.Docker.csproj
  src/runtime/Synapse.Runtime.Kubernetes/Synapse.Runtime.Kubernetes.csproj
  src/runtime/Synapse.Runtime.Native/Synapse.Runtime.Native.csproj
  tests/Synapse.UnitTests/Services/MockCloudFlowsApiClient.cs
Labels: app: api, priority: low, weight: 3, app: runner, type: fix

#436 Added copy to clipboard button to the Dashboard's editors
  src/dashboard/Synapse.Dashboard/Components/DocumentDetails/DocumentDetails.razor
  src/dashboard/Synapse.Dashboard/Components/DocumentDetails/Store.cs
  src/dashboard/Synapse.Dashboard/Components/MonacoEditor/MonacoEditor.razor
  src/dashboard/Synapse.Dashboard/Components/MonacoEditor/MonacoEditorHelper.cs
  src/dashboard/Synapse.Dashboard/Components/MonacoEditor/Store.cs
  src/dashboard/Synapse.Dashboard/Components/ResourceEditor/ResourceEditor.razor
  src/dashboard/Synapse.Dashboard/Pages/Functions/Create/View.razor
  src/dashboard/Synapse.Dashboard/Pages/Workflows/Create/State.cs
Labels: app: dashboard, priority: low, weight: 1, type: fix

#437 Fixed the `OpenApiCallExecutor` to evaluate the `operationId` parameter when its value is a runtime expressions
  src/runner/Synapse.Runner/Services/Executors/OpenApiCallExecutor.cs
Labels: priority: high, weight: 1, app: runner, type: fix

#438 Fixed the `custom function` validation when using the JSON editor of the Dashboard
  src/dashboard/Synapse.Dashboard/Components/MonacoEditor/MonacoEditorHelper.cs
  src/dashboard/Synapse.Dashboard/Pages/Functions/Create/Store.cs
  src/dashboard/Synapse.Dashboard/Services/SpecificationSchemaManager.cs
  src/dashboard/Synapse.Dashboard/wwwroot/js/monaco-editor-interop-extension.js
Labels: type: bug, app: dashboard, priority: low, weight: 1, type: fix

#439 Added capability to replay a workflow with the same input in the Dashboard
  src/dashboard/Synapse.Dashboard/Components/DocumentDetails/Store.cs
  src/dashboard/Synapse.Dashboard/Components/MonacoEditor/Store.cs
  src/dashboard/Synapse.Dashboard/Components/ResourceEditor/ResourceEditor.razor
  src/dashboard/Synapse.Dashboard/Components/WorkflowInstanceCreation/WorkflowInstanceCreation.razor
  src/dashboard/Synapse.Dashboard/Components/WorkflowInstancesList/WorkflowInstancesList.razor
  src/dashboard/Synapse.Dashboard/Pages/Functions/Create/Store.cs
  src/dashboard/Synapse.Dashboard/Pages/Workflows/Create/Store.cs
  src/dashboard/Synapse.Dashboard/Pages/Workflows/Details/Store.cs
  src/dashboard/Synapse.Dashboard/Pages/Workflows/Details/View.razor
Labels: type: enhancement, app: dashboard, priority: low, weight: 1

#440 Fixed the API client to use SSEs for watching and monitoring resources
  src/api/Synapse.Api.Client.Core/Services/IClusterResourceApiClient.cs
  src/api/Synapse.Api.Client.Core/Services/INamespacedResourceApiClient.cs
  src/api/Synapse.Api.Client.Http/Services/ResourceHttpApiClient.cs
  src/api/Synapse.Api.Http/ClusterResourceController.cs
  src/api/Synapse.Api.Http/NamespacedResourceController.cs
  src/cli/Synapse.Cli/Commands/WorkflowInstances/MonitorWorkflowInstancesCommand.cs
  src/dashboard/Synapse.Dashboard/Components/ResourceEditor/ResourceEditor.razor
  src/runner/Synapse.Runner/Services/Executors/WorkflowProcessExecutor.cs
  src/runner/Synapse.Runner/Services/WorkflowExecutionContext.cs
  tests/Synapse.UnitTests/Services/MockClusterResourceApiClient.cs
  tests/Synapse.UnitTests/Services/MockNamespacedResourceApiClient.cs
Labels: priority: high, app: api, weight: 2, type: fix

#441 Added means to suspend, resume and cancel workflow instances
  src/api/Synapse.Api.Application/Commands/WorkflowInstances/CancelWorkflowInstanceCommand.cs
  src/api/Synapse.Api.Application/Commands/WorkflowInstances/ResumeWorkflowInstanceCommand.cs
  src/api/Synapse.Api.Application/Commands/WorkflowInstances/SuspendWorkflowInstanceCommand.cs
  src/api/Synapse.Api.Application/Extensions/IServiceCollectionExtensions.cs
  src/api/Synapse.Api.Application/Queries/WorkflowInstances/ReadWorkflowInstanceLogsQuery.cs
  src/api/Synapse.Api.Application/Queries/WorkflowInstances/WatchWorkflowInstanceLogsQuery.cs
  src/api/Synapse.Api.Client.Core/Services/IWorkflowInstanceApiClient.cs
  src/api/Synapse.Api.Client.Http/Services/ResourceHttpApiClient.cs
  src/api/Synapse.Api.Client.Http/Services/WorkflowInstanceHttpApiClient.cs
  src/api/Synapse.Api.Http/ClusterResourceController.cs
  src/api/Synapse.Api.Http/Controllers/WorkflowInstancesController.cs
  src/api/Synapse.Api.Http/NamespacedResourceController.cs
  src/dashboard/Synapse.Dashboard/Pages/Workflows/Create/Store.cs
  src/operator/Synapse.Operator/Services/WorkflowInstanceHandler.cs
  src/runner/Synapse.Runner/Program.cs
  src/runner/Synapse.Runner/Services/Executors/DoTaskExecutor.cs
  src/runner/Synapse.Runner/Services/Executors/WorkflowProcessExecutor.cs
  src/runner/Synapse.Runner/Services/RunnerApplication.cs
  src/runner/Synapse.Runner/Services/TaskExecutor.cs
  src/runner/Synapse.Runner/Services/WorkflowExecutionContext.cs
  src/runner/Synapse.Runner/Services/WorkflowExecutor.cs
  tests/Synapse.UnitTests/Services/MockNamespacedResourceApiClient.cs
  tests/Synapse.UnitTests/Services/MockWorkflowInstanceApiClient.cs
Labels: type: enhancement, priority: high, app: api, weight: 5, app: runner, app: operator

#442 Added a new `suspended` workflow instance status phase
  src/api/Synapse.Api.Application/Commands/WorkflowInstances/CancelWorkflowInstanceCommand.cs
  src/api/Synapse.Api.Application/Commands/WorkflowInstances/ResumeWorkflowInstanceCommand.cs
  src/api/Synapse.Api.Application/Commands/WorkflowInstances/SuspendWorkflowInstanceCommand.cs
  src/core/Synapse.Core/WorkflowInstanceStatusPhase.cs
  src/operator/Synapse.Operator/Services/WorkflowInstanceHandler.cs
  src/runner/Synapse.Runner/Services/RunnerApplication.cs
  src/runner/Synapse.Runner/Services/WorkflowExecutionContext.cs
  src/runner/Synapse.Runner/Services/WorkflowExecutor.cs
  tests/Synapse.UnitTests/Services/MockWorkflowInstanceApiClient.cs
Labels: priority: medium, weight: 2, type: fix

#443 Implemented the feature to run processes asynchronously without awaiting their completion
  src/api/Synapse.Api.Client.Http/Synapse.Api.Client.Http.csproj
  src/cli/Synapse.Cli/Synapse.Cli.csproj
  src/core/Synapse.Core.Infrastructure/Synapse.Core.Infrastructure.csproj
  src/core/Synapse.Core/Synapse.Core.csproj
  src/runner/Synapse.Runner/Services/Executors/ContainerProcessExecutor.cs
  src/runner/Synapse.Runner/Services/Executors/ScriptProcessExecutor.cs
  src/runner/Synapse.Runner/Services/Executors/ShellProcessExecutor.cs
  src/runner/Synapse.Runner/Services/Executors/WorkflowProcessExecutor.cs
  src/runner/Synapse.Runner/Synapse.Runner.csproj
  tests/Synapse.IntegrationTests/Synapse.IntegrationTests.csproj
  tests/Synapse.UnitTests/Synapse.UnitTests.csproj
Labels: type: enhancement, priority: medium, weight: 2, app: runner

#444 Added suspend/resume/cancel actions to workflow instances in the Dashboard
  src/api/Synapse.Api.Application/Synapse.Api.Application.csproj
  src/api/Synapse.Api.Client.Core/Synapse.Api.Client.Core.csproj
  src/api/Synapse.Api.Client.Http/Synapse.Api.Client.Http.csproj
  src/api/Synapse.Api.Http/Synapse.Api.Http.csproj
  src/api/Synapse.Api.Server/Synapse.Api.Server.csproj
  src/cli/Synapse.Cli/Synapse.Cli.csproj
  src/core/Synapse.Core.Infrastructure.Containers.Docker/Synapse.Core.Infrastructure.Containers.Docker.csproj
  src/core/Synapse.Core.Infrastructure.Containers.Kubernetes/Synapse.Core.Infrastructure.Containers.Kubernetes.csproj
  src/core/Synapse.Core.Infrastructure/Synapse.Core.Infrastructure.csproj
  src/core/Synapse.Core/Synapse.Core.csproj
  src/correlator/Synapse.Correlator/Synapse.Correlator.csproj
  src/dashboard/Synapse.Dashboard/Components/WorkflowInstancesList/WorkflowInstancesList.razor
  src/dashboard/Synapse.Dashboard/Extensions/StatusExtensions.cs
  src/dashboard/Synapse.Dashboard/Pages/Workflows/Details/Store.cs
  src/dashboard/Synapse.Dashboard/Pages/Workflows/Details/View.razor
  src/operator/Synapse.Operator/Synapse.Operator.csproj
  src/runner/Synapse.Runner/Synapse.Runner.csproj
  src/runtime/Synapse.Runtime.Abstractions/Synapse.Runtime.Abstractions.csproj
  src/runtime/Synapse.Runtime.Docker/Synapse.Runtime.Docker.csproj
  src/runtime/Synapse.Runtime.Kubernetes/Synapse.Runtime.Kubernetes.csproj
  src/runtime/Synapse.Runtime.Native/Synapse.Runtime.Native.csproj
Labels: type: enhancement, app: dashboard, priority: medium, weight: 1

#446 Enabled light theme support in the Dashboard
  src/dashboard/Synapse.Dashboard/CheckboxState.cs
  src/dashboard/Synapse.Dashboard/Components/DocumentDetails/Store.cs
  src/dashboard/Synapse.Dashboard/Components/MonacoEditor/IMonacoEditorHelper.cs
  src/dashboard/Synapse.Dashboard/Components/MonacoEditor/MonacoEditorHelper.cs
  src/dashboard/Synapse.Dashboard/Components/MonacoEditor/Store.cs
  src/dashboard/Synapse.Dashboard/Components/ResourceEditor/ResourceEditor.razor
  src/dashboard/Synapse.Dashboard/Components/TaskInstanceDetails/TaskInstanceDetails.razor
  src/dashboard/Synapse.Dashboard/Components/WorkflowInstanceDetails/CorrelationContextRow.razor
  src/dashboard/Synapse.Dashboard/Components/WorkflowInstanceDetails/TaskInstanceRow.razor
  src/dashboard/Synapse.Dashboard/Components/WorkflowInstanceDetails/WorkflowInstanceDetails.razor
  src/dashboard/Synapse.Dashboard/Components/WorkflowInstanceDetails/WorkflowInstanceDetails.razor.css
  src/dashboard/Synapse.Dashboard/Components/WorkflowInstanceDetails/WorkflowInstanceDetails.razor.min.css
  src/dashboard/Synapse.Dashboard/Components/WorkflowInstanceDetails/WorkflowInstanceDetails.razor.scss
  src/dashboard/Synapse.Dashboard/Components/WorkflowInstanceLogs/WorkflowInstanceLogs.razor
  src/dashboard/Synapse.Dashboard/Components/WorkflowInstancesList/WorkflowInstancesList.razor
  src/dashboard/Synapse.Dashboard/Extensions/StatusExtensions.cs
  src/dashboard/Synapse.Dashboard/Layout/MainLayout.razor
  src/dashboard/Synapse.Dashboard/Pages/Correlations/List/View.razor
  src/dashboard/Synapse.Dashboard/Pages/Correlators/List/View.razor
  src/dashboard/Synapse.Dashboard/Pages/Functions/Create/Store.cs
  src/dashboard/Synapse.Dashboard/Pages/Functions/List/View.razor
  src/dashboard/Synapse.Dashboard/Pages/Namespaces/List/View.razor
  src/dashboard/Synapse.Dashboard/Pages/Operators/List/View.razor
  src/dashboard/Synapse.Dashboard/Pages/ServiceAccounts/List/View.razor
  src/dashboard/Synapse.Dashboard/Pages/Workflows/Create/Store.cs
  src/dashboard/Synapse.Dashboard/Pages/Workflows/Details/Store.cs
  src/dashboard/Synapse.Dashboard/Pages/Workflows/List/View.razor
  src/dashboard/Synapse.Dashboard/Program.cs
  src/dashboard/Synapse.Dashboard/Services/Interfaces/ILocalStorage.cs
  src/dashboard/Synapse.Dashboard/Services/JsInterop.cs
  src/dashboard/Synapse.Dashboard/Services/LocalStorage.cs
  src/dashboard/Synapse.Dashboard/Usings.cs
  src/dashboard/Synapse.Dashboard/_Imports.razor
  src/dashboard/Synapse.Dashboard/compilerconfig.json
  src/dashboard/Synapse.Dashboard/wwwroot/css/app.css
  src/dashboard/Synapse.Dashboard/wwwroot/css/app.min.css
  src/dashboard/Synapse.Dashboard/wwwroot/css/app.scss
  src/dashboard/Synapse.Dashboard/wwwroot/css/graph.scss
  src/dashboard/Synapse.Dashboard/wwwroot/css/scrollbar.scss
  src/dashboard/Synapse.Dashboard/wwwroot/css/status.scss
  src/dashboard/Synapse.Dashboard/wwwroot/css/table.scss
  src/dashboard/Synapse.Dashboard/wwwroot/css/theme/_variables.scss
  src/dashboard/Synapse.Dashboard/wwwroot/css/theme/theme.scss
  src/dashboard/Synapse.Dashboard/wwwroot/css/workflow-instance-details.scss
  src/dashboard/Synapse.Dashboard/wwwroot/index.html
  src/dashboard/Synapse.Dashboard/wwwroot/js/js-interop.js
Labels: type: enhancement, app: dashboard, priority: low, weight: 2

#448 Fixed the default global JsonSerializer options by enforcing indentation
  src/dashboard/Synapse.Dashboard/Program.cs
Labels: app: dashboard, priority: medium, weight: 1, type: fix

#449 Light theme improvements and close button for editor errors in the Dashboard
  src/dashboard/Synapse.Dashboard/Components/DocumentDetails/DocumentDetails.razor
  src/dashboard/Synapse.Dashboard/Components/DocumentDetails/State.cs
  src/dashboard/Synapse.Dashboard/Components/DocumentDetails/Store.cs
  src/dashboard/Synapse.Dashboard/Components/ResourceEditor/ResourceEditor.razor
  src/dashboard/Synapse.Dashboard/Pages/Functions/Create/View.razor
  src/dashboard/Synapse.Dashboard/Pages/Workflows/Create/View.razor
  src/dashboard/Synapse.Dashboard/wwwroot/css/app.css
  src/dashboard/Synapse.Dashboard/wwwroot/css/app.min.css
  src/dashboard/Synapse.Dashboard/wwwroot/css/app.scss
  src/dashboard/Synapse.Dashboard/wwwroot/css/graph.scss
  src/dashboard/Synapse.Dashboard/wwwroot/css/theme/theme.scss
Labels: type: enhancement, app: dashboard, priority: low, weight: 1

#451 Improved task hierarchy navigation using a "tree view" in the Dashboard
  src/api/Synapse.Api.Application/Synapse.Api.Application.csproj
  src/api/Synapse.Api.Client.Core/Synapse.Api.Client.Core.csproj
  src/api/Synapse.Api.Client.Http/Synapse.Api.Client.Http.csproj
  src/api/Synapse.Api.Http/Synapse.Api.Http.csproj
  src/api/Synapse.Api.Server/Synapse.Api.Server.csproj
  src/cli/Synapse.Cli/Synapse.Cli.csproj
  src/core/Synapse.Core.Infrastructure.Containers.Docker/Synapse.Core.Infrastructure.Containers.Docker.csproj
  src/core/Synapse.Core.Infrastructure.Containers.Kubernetes/Synapse.Core.Infrastructure.Containers.Kubernetes.csproj
  src/core/Synapse.Core.Infrastructure/Synapse.Core.Infrastructure.csproj
  src/core/Synapse.Core/Synapse.Core.csproj
  src/correlator/Synapse.Correlator/Synapse.Correlator.csproj
  src/dashboard/Synapse.Dashboard/Components/TaskInstanceDetails/TaskInstanceDetails.razor
  src/dashboard/Synapse.Dashboard/Components/WorkflowInstanceDetails/TaskInstanceRow.razor
  src/dashboard/Synapse.Dashboard/Components/WorkflowInstanceDetails/WorkflowInstanceDetails.razor
  src/operator/Synapse.Operator/Synapse.Operator.csproj
  src/runner/Synapse.Runner/Synapse.Runner.csproj
  src/runtime/Synapse.Runtime.Abstractions/Synapse.Runtime.Abstractions.csproj
  src/runtime/Synapse.Runtime.Docker/Synapse.Runtime.Docker.csproj
  src/runtime/Synapse.Runtime.Kubernetes/Synapse.Runtime.Kubernetes.csproj
  src/runtime/Synapse.Runtime.Native/Synapse.Runtime.Native.csproj
Labels: type: enhancement, app: dashboard, priority: low, weight: 1
