Repository serverlessworkflow/synapse, pull requests merged in 2024-12, with the labels that each got.

#459 Fix try catch context handling
  src/api/Synapse.Api.Http/ClusterResourceController.cs
  src/api/Synapse.Api.Http/NamespacedResourceController.cs
  src/api/Synapse.Api.Http/Synapse.Api.Http.csproj
  src/api/Synapse.Api.Server/Synapse.Api.Server.csproj
  src/core/Synapse.Core.Infrastructure/Synapse.Core.Infrastructure.csproj
  src/core/Synapse.Core/Synapse.Core.csproj
  src/correlator/Synapse.Correlator/Synapse.Correlator.csproj
  src/dashboard/Synapse.Dashboard/Synapse.Dashboard.csproj
  src/operator/Synapse.Operator/Services/WorkflowController.cs
  src/operator/Synapse.Operator/Services/WorkflowInstanceController.cs
  src/operator/Synapse.Operator/appsettings.Development.json
  src/runner/Synapse.Runner/Services/Executors/TryTaskExecutor.cs
  src/runner/Synapse.Runner/Synapse.Runner.csproj
  tests/Synapse.IntegrationTests/Synapse.IntegrationTests.csproj
  tests/Synapse.UnitTests/Cases/Runtime/NativeRuntimeTests.cs
  tests/Synapse.UnitTests/Synapse.UnitTests.csproj
Labels: type: bug, priority: high, app: api, app: dashboard, weight: 2, app: runner, app: operator

#460 Fixed the `WorkflowDefinitionEnumerableExtensions` by using the `SemVersio.PrecendenceComparer` when ordering versions of a workflow
  src/core/Synapse.Core/Extensions/WorkflowDefinitionEnumerableExtensions.cs
Labels: priority: high, app: dashboard, weight: 1, type: fix

#463 Fixed the `ForTaskExecutor`, which was not properly running when the list to enumerate contained only 1 item
  src/runner/Synapse.Runner/Services/Executors/ForTaskExecutor.cs
Labels: type: bug, priority: high, weight: 2, app: runner

#468 Properly handled `if` clauses the Dashboard's graph builder
  src/api/Synapse.Api.Http/Synapse.Api.Http.csproj
  src/core/Synapse.Core.Infrastructure/Synapse.Core.Infrastructure.csproj
  src/core/Synapse.Core/Synapse.Core.csproj
  src/correlator/Synapse.Correlator/Synapse.Correlator.csproj
  src/dashboard/Synapse.Dashboard/Components/WorkflowDiagram/StartNodeViewModel.cs
  src/dashboard/Synapse.Dashboard/Pages/Workflows/Create/State.cs
  src/dashboard/Synapse.Dashboard/Services/WorkflowGraphBuilder.cs
  src/dashboard/Synapse.Dashboard/Synapse.Dashboard.csproj
  src/runner/Synapse.Runner/Synapse.Runner.csproj
  tests/Synapse.UnitTests/Synapse.UnitTests.csproj
Labels: type: bug, app: dashboard, priority: low, weight: 2

#470 Added a new stand-alone execution mode to the runner
  src/api/Synapse.Api.Application/Synapse.Api.Application.csproj
  src/api/Synapse.Api.Client.Core/Services/IDocumentApiClient.cs
  src/api/Synapse.Api.Client.Core/Synapse.Api.Client.Core.csproj
  src/api/Synapse.Api.Client.Http/Services/DocumentHttpApiClient.cs
  src/api/Synapse.Api.Client.Http/Synapse.Api.Client.Http.csproj
  src/api/Synapse.Api.Http/Synapse.Api.Http.csproj
  src/api/Synapse.Api.Server/Synapse.Api.Server.csproj
  src/cli/Synapse.Cli/Synapse.Cli.csproj
  src/core/Synapse.Core.Infrastructure.Containers.Docker/Synapse.Core.Infrastructure.Containers.Docker.csproj
  src/core/Synapse.Core.Infrastructure.Containers.Kubernetes/Synapse.Core.Infrastructure.Containers.Kubernetes.csproj
  src/core/Synapse.Core.Infrastructure/Synapse.Core.Infrastructure.csproj
  src/core/Synapse.Core/Synapse.Core.csproj
  src/core/Synapse.Core/SynapseDefaults.cs
  src/correlator/Synapse.Correlator/Synapse.Correlator.csproj
  src/operator/Synapse.Operator/Synapse.Operator.csproj
  src/runner/Synapse.Runner/Configuration/RunnerCloudEventOptions.cs
  src/runner/Synapse.Runner/Configuration/RunnerContainerOptions.cs
  src/runner/Synapse.Runner/Configuration/RunnerExecutionMode.cs
  src/runner/Synapse.Runner/Configuration/RunnerLoggingOptions.cs
  src/runner/Synapse.Runner/Configuration/RunnerOptions.cs
  src/runner/Synapse.Runner/Configuration/WorkflowOptions.cs
  src/runner/Synapse.Runner/Program.cs
  src/runner/Synapse.Runner/Properties/launchSettings.json
  src/runner/Synapse.Runner/RunnerDefaults.cs
  src/runner/Synapse.Runner/Services/ConnectedWorkflowExecutionContext.cs
  src/runner/Synapse.Runner/Services/MemoryDocumentManager.cs
  src/runner/Synapse.Runner/Services/RunnerApplication.cs
  src/runner/Synapse.Runner/Services/StandAloneWorkflowExecutionContext.cs
  src/runner/Synapse.Runner/Synapse.Runner.csproj
  src/runner/Synapse.Runner/WorkflowOutputFormat.cs
  src/runtime/Synapse.Runtime.Abstractions/Synapse.Runtime.Abstractions.csproj
  src/runtime/Synapse.Runtime.Docker/Synapse.Runtime.Docker.csproj
  src/runtime/Synapse.Runtime.Kubernetes/Synapse.Runtime.Kubernetes.csproj
  src/runtime/Synapse.Runtime.Native/Synapse.Runtime.Native.csproj
  tests/Synapse.UnitTests/Cases/Conformance/ConformanceTestsBase.cs
  tests/Synapse.UnitTests/Services/MockDocumentApiClient.cs
  tests/Synapse.UnitTests/Services/MockWorkflowExecutionContextFactory.cs
Labels: type: enhancement, priority: low, weight: 3, app: runner

#469 Improved workflow creation vs update process in the Dashboard
  src/dashboard/Synapse.Dashboard/Pages/Functions/Create/State.cs
  src/dashboard/Synapse.Dashboard/Pages/Functions/Create/Store.cs
  src/dashboard/Synapse.Dashboard/Pages/Functions/Create/View.razor
  src/dashboard/Synapse.Dashboard/Pages/Workflows/Create/State.cs
  src/dashboard/Synapse.Dashboard/Pages/Workflows/Create/Store.cs
  src/dashboard/Synapse.Dashboard/Pages/Workflows/Create/View.razor
Labels: type: enhancement, app: dashboard, priority: low, weight: 1

#472 Fixed transitions issues in the Dashboard graph
  src/dashboard/Synapse.Dashboard/Services/WorkflowGraphBuilder.cs
  src/dashboard/Synapse.Dashboard/wwwroot/index.html
Labels: app: dashboard, priority: medium, weight: 1, type: fix

#474 Replace standard issue templates by form-based ones
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/ISSUE_TEMPLATE/feature.yml
  Synapse.sln
  config.yml
Labels: type: enhancement, priority: low, weight: 1
