Repository serverlessworkflow/synapse, pull requests merged in 2025-07, with the labels that each got.

#507 Fixed the `FunctionCallExecutor` to support custom functions that do not specify an @ catalog, falling back to the default Serverless Workflow catalog
  src/runner/Synapse.Runner/Program.cs
  src/runner/Synapse.Runner/Services/Executors/FunctionCallExecutor.cs
  src/runner/Synapse.Runner/Services/Executors/HttpCallExecutor.cs
Labels: priority: high, weight: 3, app: runner, type: fix

#522 Fixed the `DockerRuntime` to apply the provided `HostConfig`, thereby supporting volume mount functionality
  deployments/docker-compose/.env
  deployments/docker-compose/docker-compose.yml
  src/core/Synapse.Core.Infrastructure.Containers.Docker/DockerContainerPlatform.cs
  src/core/Synapse.Core/Resources/DockerRuntimeConfiguration.cs
  src/dashboard/Synapse.Dashboard/Layout/MainLayout.razor
  src/dashboard/Synapse.Dashboard/Services/JsInterop.cs
  src/dashboard/Synapse.Dashboard/wwwroot/index.html
  src/runtime/Synapse.Runtime.Docker/Services/DockerRuntime.cs
Labels: type: enhancement, priority: high, weight: 2, app: operator

#528 Fixed the `WorkflowInstanceController` to ignore instances of unselected workflows
  src/operator/Synapse.Operator/Services/WorkflowInstanceController.cs
Labels: type: enhancement, priority: high, weight: 1, app: operator

#529 Updated the About view by adding a link to the API documentation page (Swagger)
  src/dashboard/Synapse.Dashboard/Pages/About/View.razor
  src/dashboard/Synapse.Dashboard/wwwroot/img/openapi-logo.png
Labels: type: enhancement, app: dashboard, priority: low, weight: 1

#530 Fixed stale state issue in ResourceEditor after saving
  src/dashboard/Synapse.Dashboard/Components/ResourceEditor/ResourceEditor.razor
  src/dashboard/Synapse.Dashboard/Components/ResourceManagement/ResourceManagementComponent.cs
  src/dashboard/Synapse.Dashboard/Pages/Namespaces/List/View.razor
  src/dashboard/Synapse.Dashboard/StatefulComponent.cs
Labels: type: bug, priority: high, app: dashboard, weight: 1, type: fix

#531 Added namespace management view in the Dashboard
  src/dashboard/Synapse.Dashboard/Layout/MainLayout.razor
  src/dashboard/Synapse.Dashboard/Pages/Correlators/List/View.razor
Labels: type: enhancement, priority: high, app: dashboard, weight: 1
