Repository serverlessworkflow/synapse, pull requests merged in 2025-01, with the labels that each got.

#475 Implement the `AsyncAPI` function call
  src/api/Synapse.Api.Client.Http/Synapse.Api.Client.Http.csproj
  src/api/Synapse.Api.Http/Synapse.Api.Http.csproj
  src/api/Synapse.Api.Server/Synapse.Api.Server.csproj
  src/cli/Synapse.Cli/Synapse.Cli.csproj
  src/core/Synapse.Core.Infrastructure/Services/XmlSchemaHandler.cs
  src/core/Synapse.Core.Infrastructure/Synapse.Core.Infrastructure.csproj
  src/core/Synapse.Core/Synapse.Core.csproj
  src/correlator/Synapse.Correlator/Synapse.Correlator.csproj
  src/dashboard/Synapse.Dashboard/Services/WorkflowGraphBuilder.cs
  src/dashboard/Synapse.Dashboard/Synapse.Dashboard.csproj
  src/runner/Synapse.Runner/Program.cs
  src/runner/Synapse.Runner/Services/Executors/AsyncApiCallExecutor.cs
  src/runner/Synapse.Runner/Services/Executors/FunctionCallExecutor.cs
  src/runner/Synapse.Runner/Services/Executors/OpenApiCallExecutor.cs
  src/runner/Synapse.Runner/Services/TaskExecutorFactory.cs
  src/runner/Synapse.Runner/Services/WorkflowExecutor.cs
  src/runner/Synapse.Runner/Synapse.Runner.csproj
  tests/Synapse.IntegrationTests/Synapse.IntegrationTests.csproj
  tests/Synapse.UnitTests/Synapse.UnitTests.csproj
Labels: type: enhancement, priority: high, weight: 3, app: runner

#477 Fix the HttpCallExecutor to configure authentication on the HttpClient used to perform the configured request
  src/runner/Synapse.Runner/Services/Executors/HttpCallExecutor.cs
Labels: app: runner, type: fix

#478 Implement streaming features for the `listen` task and for the `asyncapi` call
  src/api/Synapse.Api.Application/Synapse.Api.Application.csproj
  src/api/Synapse.Api.Client.Http/Synapse.Api.Client.Http.csproj
  src/api/Synapse.Api.Server/Synapse.Api.Server.csproj
  src/cli/Synapse.Cli/Synapse.Cli.csproj
  src/core/Synapse.Core.Infrastructure/Synapse.Core.Infrastructure.csproj
  src/core/Synapse.Core/Resources/CorrelationContext.cs
  src/core/Synapse.Core/Resources/CorrelationSpec.cs
  src/core/Synapse.Core/Synapse.Core.csproj
  src/correlator/Synapse.Correlator/Services/CorrelationHandler.cs
  src/correlator/Synapse.Correlator/Synapse.Correlator.csproj
  src/dashboard/Synapse.Dashboard.StateManagement/Synapse.Dashboard.StateManagement.csproj
  src/dashboard/Synapse.Dashboard/Synapse.Dashboard.csproj
  src/operator/Synapse.Operator/Services/WorkflowInstanceController.cs
  src/operator/Synapse.Operator/Synapse.Operator.csproj
  src/runner/Synapse.Runner/IStreamedCloudEvent.cs
  src/runner/Synapse.Runner/Services/ConnectedWorkflowExecutionContext.cs
  src/runner/Synapse.Runner/Services/Executors/AsyncApiCallExecutor.cs
  src/runner/Synapse.Runner/Services/Executors/ListenTaskExecutor.cs
  src/runner/Synapse.Runner/Services/Interfaces/ITaskExecutionContext.cs
  src/runner/Synapse.Runner/Services/Interfaces/IWorkflowExecutionContext.cs
  src/runner/Synapse.Runner/Services/StandAloneWorkflowExecutionContext.cs
  src/runner/Synapse.Runner/Services/TaskExecutionContext.cs
  src/runner/Synapse.Runner/StreamedCloudEvent.cs
  src/runner/Synapse.Runner/Synapse.Runner.csproj
  tests/Synapse.IntegrationTests/Cases/Api/Controllers/NamespacesControllerTests.cs
  tests/Synapse.IntegrationTests/Cases/Api/Controllers/WorkflowDataControllerTests.cs
  tests/Synapse.IntegrationTests/Cases/Api/Controllers/WorkflowInstancesControllerTests.cs
  tests/Synapse.IntegrationTests/Cases/Api/Controllers/WorkflowsControllerTests.cs
  tests/Synapse.IntegrationTests/Synapse.IntegrationTests.csproj
  tests/Synapse.UnitTests/Synapse.UnitTests.csproj
Labels: type: enhancement, priority: medium, weight: 4, app: runner

#479 Implement event read mode
  src/runner/Synapse.Runner/Services/Executors/ListenTaskExecutor.cs
Labels: type: enhancement, priority: medium, weight: 1, app: runner

#480 Fix the workflow schema validation, which was using obsolete URIs to get the schema files
  src/dashboard/Synapse.Dashboard/Pages/Functions/Create/Store.cs
  src/dashboard/Synapse.Dashboard/Services/SpecificationSchemaManager.cs
Labels: priority: high, app: dashboard, weight: 1, type: fix

#482 Fix the `TaskExecutor` to ignore both `output.as` and `export.as` clauses for skipped tasks
  src/api/Synapse.Api.Application/Synapse.Api.Application.csproj
  src/api/Synapse.Api.Client.Core/Synapse.Api.Client.Core.csproj
  src/api/Synapse.Api.Client.Http/Synapse.Api.Client.Http.csproj
  src/api/Synapse.Api.Http/Synapse.Api.Http.csproj
  src/api/Synapse.Api.Server/Synapse.Api.Server.csproj
  src/cli/Synapse.Cli/Synapse.Cli.csproj
  src/core/Synapse.Core.Infrastructure.Containers.Docker/Synapse.Core.Infrastructure.Containers.Docker.csproj
  src/core/Synapse.Core.Infrastructure.Containers.Kubernetes/Synapse.Core.Infrastructure.Containers.Kubernetes.csproj
  src/core/Synapse.Core.Infrastructure/Synapse.Core.Infrastructure.csproj
  src/core/Synapse.Core/Synapse.Core.csproj
  src/correlator/Synapse.Correlator/Synapse.Correlator.csproj
  src/operator/Synapse.Operator/Synapse.Operator.csproj
  src/runner/Synapse.Runner/Services/TaskExecutor.cs
  src/runner/Synapse.Runner/Synapse.Runner.csproj
  src/runtime/Synapse.Runtime.Abstractions/Synapse.Runtime.Abstractions.csproj
  src/runtime/Synapse.Runtime.Docker/Synapse.Runtime.Docker.csproj
  src/runtime/Synapse.Runtime.Kubernetes/Synapse.Runtime.Kubernetes.csproj
  src/runtime/Synapse.Runtime.Native/Synapse.Runtime.Native.csproj
Labels: type: bug, priority: high, weight: 2, app: runner

#483 Fixes "editor not found" errors in the Dashboard
  src/dashboard/Synapse.Dashboard/Components/DocumentDetails/Store.cs
  src/dashboard/Synapse.Dashboard/Components/MonacoEditor/Store.cs
  src/dashboard/Synapse.Dashboard/Pages/Functions/Create/Store.cs
  src/dashboard/Synapse.Dashboard/Pages/Functions/Create/View.razor
  src/dashboard/Synapse.Dashboard/Pages/Workflows/Create/Store.cs
  src/dashboard/Synapse.Dashboard/Pages/Workflows/Create/View.razor
  src/dashboard/Synapse.Dashboard/Pages/Workflows/Details/Store.cs
  src/dashboard/Synapse.Dashboard/Services/SpecificationSchemaManager.cs
Labels: type: bug, app: dashboard, priority: medium, weight: 1, type: fix

#486 Fix the `WorkflowDefinitionExtensions` and `DoTaskDefinitionExtensions` to rely on name to determine the next task
  src/runner/Synapse.Runner/Extensions/DoTaskDefinitionExtensions.cs
  src/runner/Synapse.Runner/Extensions/WorkflowDefinitionExtensions.cs
  src/runner/Synapse.Runner/Services/ConnectedWorkflowExecutionContext.cs
Labels: type: bug, priority: high, weight: 1, app: runner

#488 Fix the `ScriptProcessExecutor` to honor the `await` property
  src/runner/Synapse.Runner/Services/Executors/ScriptProcessExecutor.cs
Labels: priority: high, weight: 1, app: runner, type: fix

#489 Fix the `ListenTaskExecutor`, which did not work anymore without streaming
  src/api/Synapse.Api.Application/Synapse.Api.Application.csproj
  src/api/Synapse.Api.Client.Core/Synapse.Api.Client.Core.csproj
  src/api/Synapse.Api.Client.Http/Synapse.Api.Client.Http.csproj
  src/api/Synapse.Api.Http/Synapse.Api.Http.csproj
  src/api/Synapse.Api.Server/Synapse.Api.Server.csproj
  src/cli/Synapse.Cli/Synapse.Cli.csproj
  src/core/Synapse.Core.Infrastructure.Containers.Docker/Synapse.Core.Infrastructure.Containers.Docker.csproj
  src/core/Synapse.Core.Infrastructure.Containers.Kubernetes/Synapse.Core.Infrastructure.Containers.Kubernetes.csproj
  src/core/Synapse.Core.Infrastructure/Synapse.Core.Infrastructure.csproj
  src/core/Synapse.Core/Synapse.Core.csproj
  src/correlator/Synapse.Correlator/Synapse.Correlator.csproj
  src/dashboard/Synapse.Dashboard/Synapse.Dashboard.csproj
  src/operator/Synapse.Operator/Synapse.Operator.csproj
  src/runner/Synapse.Runner/Services/ConnectedWorkflowExecutionContext.cs
  src/runner/Synapse.Runner/Services/Executors/ListenTaskExecutor.cs
  src/runner/Synapse.Runner/Synapse.Runner.csproj
  src/runtime/Synapse.Runtime.Abstractions/Synapse.Runtime.Abstractions.csproj
  src/runtime/Synapse.Runtime.Docker/Synapse.Runtime.Docker.csproj
  src/runtime/Synapse.Runtime.Kubernetes/Synapse.Runtime.Kubernetes.csproj
  src/runtime/Synapse.Runtime.Native/Synapse.Runtime.Native.csproj
  tests/Synapse.IntegrationTests/Synapse.IntegrationTests.csproj
  tests/Synapse.UnitTests/Synapse.UnitTests.csproj
Labels: priority: high, weight: 2, app: runner, type: fix

#491 Workflow details panels auto collapse in the Dashboard
  src/dashboard/Synapse.Dashboard/Components/HorizontalCollapsible/HorizontalCollapsible.razor
  src/dashboard/Synapse.Dashboard/Pages/Workflows/Details/View.razor
Labels: type: enhancement, app: dashboard, priority: low, weight: 1

#490 Disabled unnecessary namespace listing in the Dashboard
  src/dashboard/Synapse.Dashboard/Components/ResourceManagement/NamespacedResourceManagementComponentState.cs
  src/dashboard/Synapse.Dashboard/Components/ResourceManagement/NamespacedResourceManagementComponentStore.cs
  src/dashboard/Synapse.Dashboard/Pages/Workflows/Details/View.razor
Labels: type: enhancement, app: dashboard, priority: medium, weight: 1

#492 Fix correlation handling
  Synapse.sln
  src/api/Synapse.Api.Http/Extensions/IServiceCollectionExtensions.cs
  src/api/Synapse.Api.Server/appsettings.Development.json
  src/core/Synapse.Core/Resources/CorrelationSpec.cs
  src/correlator/Synapse.Correlator/Services/CorrelationHandler.cs
  src/runner/Synapse.Runner/Services/ConnectedWorkflowExecutionContext.cs
  src/runner/Synapse.Runner/Services/Executors/AsyncApiCallExecutor.cs
Labels: type: bug, priority: high, weight: 3, app: runner, app: correlator
